@model OperationResult<FinalResultOCRDTO>
@{
    ViewData["Title"] = "Result";
     Layout = null;
    var data = Model?.Data;
    var jsonRtesult = Model?.Data?.JsonResultIDv;
}
<link href="~/lib/jquery.json-viewer/json-viewer/jquery.json-viewer.css" rel="stylesheet" />
<link href="~/lib/jquery-focuspoint/css/focuspoint.css" rel="stylesheet" />
@if (Model.Succeed == false)
{
    <div class="card bg-danger text-white col-6 m-auto">
        <div class="card-body">
            <h4 class="card-title text-white">Error!</h4>
            <p class="card-text">
                @Model.Message
            </p>
        </div>
    </div>
}
else if (data != null)
{


    <div class="row container m-auto">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-body">
                    <partial name="_Result" model="@Model.Data"></partial>
                </div>
            </div>
            @if (jsonRtesult != null)
            {
                <div class="card mt-2">
                    <div class="collapse-default p-1">
                        <div class="card">
                            <div id="headingCollapse1" class="card-header" data-toggle="collapse" role="button" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                <span class="lead collapse-title text-nissan">  Result (Json)  </span>
                            </div>
                            <div id="collapse1" role="tabpanel" aria-labelledby="headingCollapse1" class="collapse">
                                <div class="card-body">
                                    <pre id="json-renderer">
                                        @(Html.Raw(jsonRtesult))
                                                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-12">
            @if (Model?.Data?.FrontUrl != null || Model?.Data?.BackUrl != null || Model?.Data?.FaceUrl != null || Model?.Data?.SignatureUrl != null)
            {
                <div class="card">

                    <div class="card-body">
                        <div class="col-12 row">
                            @if (Model?.Data?.FrontUrl != null)
                            {
                                <div class="m-auto col-sm-12 col-md-3 p-1" asp-remove="">
                                    <img class="card-img-top" src="@Model.Data.FrontUrl.Remove(0,Model.Data.FrontUrl.IndexOf("Files")-1)" width="50%" alt="">
                                </div>
                            }
                            @if (Model?.Data?.BackUrl != null && Model?.Data?.BackUrl != "||skip||")
                            {
                                <div class="m-auto col-sm-12 col-md-3 p-1" asp-remove="">
                                    <img class="card-img-top" src="@Model.Data.BackUrl.Remove(0,Model.Data.BackUrl.IndexOf("Files")-1)" width="50%" alt="">
                                </div>
                            }
                            @if (Model?.Data?.FaceUrl != null)
                            {
                                <div class="m-auto col-sm-12 col-md-3 p-1" asp-remove="">
                                    <img class="card-img-top" src="@Model.Data.FaceUrl.Remove(0,Model.Data.FaceUrl.IndexOf("Files")-1)" width="50%" alt="">
                                </div>
                            }
                            @if (Model?.Data?.SignatureUrl != null)
                            {
                                <div class="m-auto col-sm-12 col-md-3 p-1" asp-remove="">
                                    <img class="card-img-top" src="@Model.Data.SignatureUrl.Remove(0,Model.Data.SignatureUrl.IndexOf("Files")-1)" width="50%" alt="">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        @*<div class="text-center">
            <button onclick="showImage($(this))" class="btn mt-1 font-size-1 bg-site p-2 waves-effect text-bold text-light "> Show more</button>
            </div>*@
        @*<div class="col-12 row mt-3 text-center " id="images">

            </div>*@

    </div>


}
else
{
    <div class="card bg-warning text-white col-6 m-auto ">
        <div class="card-body">
            <p class="card-text">
                Please try again
            </p>
        </div>
    </div>
}
<script>
    //function showImage(elem){
    //    elem.hide(1000);
    //    $("#images").removeClass("d-none")
    //}
</script>

@functions {
    IHtmlContent GetValidationIcon(string validationText)
    {

        if (HasValidationError(validationText) == false)
        {
            return Html.Raw("<i class='fas fa-circle text-success'></i>");
        }
        else if (HasValidationError(validationText) == true)
        {
            return Html.Raw("<i class='fas fa-circle text-danger'></i>");
        }
        return Html.Raw("?");
    }
    bool? HasValidationError(string validationText)
    {
        if (validationText?.ToLower() == "passed")
        {
            return false;
        }
        else if (validationText?.ToLower() == "failed")
        {
            return true;
        }
        return null;
    }
}

@section Scripts{
<script src="~/lib/jquery.json-viewer/json-viewer/jquery.json-viewer.js"></script>
<script src="~/lib/jquery-focuspoint/js/jquery.focuspoint.min.js"></script>

@if(jsonRtesult!=null){
<script>
    $('#json-renderer').jsonViewer(JSON.parse(`@(Html.Raw(jsonRtesult.Replace("'"," ").Replace("\"{","{").Replace("}\"", "}").Replace("\\\"","\"").Replace("\\n", "").Replace("\r", "")))`), { collapsed: true, rootCollapsable :false });
</script>
}
}