@model OCRFileDTO
@{
    ViewData["Title"] = "OcrRequest";
}

<div class="col text-center detail" id="scanMenu">
    <div class="col-sm-8 col-md-6 m-auto text-center">
        @*<h2 class="mb-2 text-bold-custom ">UPLOAD DRIVER LICENCE</h2>*@
        <img class="card-img-top" src="/image/@(Model?.UrlFront==null?"Phone_Licence_Front.svg":"Phone_Licence_Back.svg")" alt="Card image cap" width="100%" style="max-width:400px;">
        <div style="" class=" m-auto pr-2 pl-2">
                                        <div class="text-center mt-2 mb-2"
                                            style="text-align:justify;text-justify:trim;padding-left:10px;padding-right:10px;font-weight:bold;margin-top:0px;color:black">
                                            Some helpful tips:
                                        </div>
                                        <hr>
                                        <ul class="p-0 confirm-list" style="list-style-position: inside;">
                                            <li style="text-align:justify;text-justify:trim;">Take the picture in a well-lit place
                                            </li>
                                            <li style="text-align:justify;text-justify:trim;">Ensure no light is reflecting on the image</li>
                                            <li style="text-align:justify;text-justify:trim;">Ensure the image is legible and in full resolution
                                            </li>
                                            <li style="text-align:justify;text-justify:trim;"> The image should take up as much space as possible</li>
                                            <li style="text-align:justify;text-justify:trim;"> The background of the image should be monochrome</li>
                                             
                                        </ul>
                                    </div>
                                    @*<div   class="col-sm-6 m-auto row pr-2 pl-2">
                                        <div class="col-lg-6 mb-1" style="text-align:left !important;">
                                            <button type="button" onclick="CancelCapMode()" class="n-btn n-btn-gray w-100" >GO back</button>
                                        </div>
                                        <div class="col-lg-6" style="text-align:right !important;margin-bottom:10px">
                                            <button type="button" onclick="StartCapture()" class="n-btn n-btn-red w-100"  >Take Photo</button>
                                        </div>
                                    </div>*@
        @*<h2 class="mt-3 text-bold-custom text-decoration-underline">INSTRUCTIONS</h2>
        <div class="p-2">
            <h3 class="text-left">- Take the picture in a well-lit place</h3>
            <h3 class="mt-2   text-left">- Ensure there are no reflections or shadows on the licence</h3>
            <h3 class="mt-2  text-left">- Maximise the licence size within the guiding rectangle</h3>
            <h3 class="mt-2  text-left">- The background should be a light colour and monochrome</h3>
            <h3 class="mt-2   text-left">- Ensure your hand isn`t obscuring any part of the licence</h3>
        </div>*@
    </div>
    <div class="col-sm-8 col-md-6 text-center m-auto">
        <a href="##" class="n-btn mb-2 n-btn-red w-100 camera camera-file  ">CAPTURE @(Model?.UrlFront==null?"FRONT":"BACK") </a>
        @*<a href="##" style="display:none" class="btn mt-1 font-size-1 bg-site p-2 waves-effect CanvasCamera camera-can text-bold text-light w-100">CAPTURE @(Model.UrlFront==null?"FRONT":"BACK") </a>*@
        <button type="button" onclick="skip()" class="n-btn n-btn-gray w-100 @(Model.UrlFront==null?"d-none":"") camera-file  ">
            SKIP
        </button>
        @*<button type="button" onclick="submitForm(true)" class="btn @(Model.UrlFront==null?"d-none":"") bg-secondary camera-can font-size-1 p-2 mt-2 text-light w-100">
            Skip
            </button>*@
    </div>
</div>


@*
    <div class="row" id="scanMenu">
    <div class="card col-sm-6 col-md-4 p-0 m-auto">

    <img class="card-img-top" src="/assets/img/passport.jpg" alt="Card image cap">
    <div class="card-body">
    <h3 class="card-title">Passport check</h3>
    <p class="card-text">
    Start by clicking the link below:
    @(Model.UrlFront==null?"Front Image":"Back Image")
    </p>
    <div class="row">

    <div class="col-12 p-1">
    <a href="#" class="btn btn-danger waves-effect camera w-100">
    <i data-feather='camera'></i> Open
    Camera
    </a>
    </div>

    <div class="col-12">
    <a href="#" class="btn btn-primary waves-effect CanvasCamera w-100">
    <i data-feather='camera'></i> Open
    Canvas
    </a>
    </div>

    </div>
    </div>
    </div>
    </div>*@



<div class="cameraDiv text-center d-none">
    <div class="col-sm-6 col-md-6 pr-2 pl-2 m-auto select-method-div">

                                        <div class="text-center mt-2 mb-2"
                                            style="text-align:justify;text-justify:trim;padding-left:10px;padding-right:10px;font-weight:bold;margin-top:0px;color:black">
                                            Please choose one of the simple methods below to capture your licence:
                                        </div>
                                    <div class="col-lg-12 m-auto form-inline" style="margin:0px;padding:0px">
                                    
                                         
                                            <div class="col-lg-12 open-camera-div d-none" style="margin-top: 10px; border-top: 1px solid #bdc2c7; padding: 20px 10px; ">
                                                <div style="text-align:justify;text-justify:trim;">
                                                   Use your phone's camera to automatically detect the licence.
                                                </div>
                                                <div class="col-lg-12" style="text-align:center !important;">
                                                    @*<button type="button" onclick="SelectCaptureMode('2')" class="n-btn n-btn-red col-lg-12 mt-2" >Start auto capture</button>*@
    <button class=" n-btn n-btn-red w-100 d-none open-camera-btn mt-2" onclick="">Start auto capture</button>

                                                </div>
                                            </div>
                                          
                                        <div class="col-lg-12 storage-div d-none" style="margin-top:10px; border-top:1px solid #bdc2c7;padding: 20px 10px;  ">
                                            <div style="text-align:justify;text-justify:trim;">
                                                 Upload your digital licence from your device.
                                            </div>
                                            <div class="col-lg-12" style="text-align:center !important;">
    <button class="n-btn n-btn-red w-100 d-none storage-btn mt-2">Upload from device</button>

                                                @*<button type="button" onclick="SelectCaptureMode('3')" class="n-btn n-btn-red col-lg-12 mt-2" >Upload from device</button>*@
                                            </div>
                                        </div>
                                    </div>
                                    </div>








    <div class="row d-none" id="camraPreview">
        <div class=" col-sm-6 col-md-6  m-auto">
            @*<h3 class="mt-2 text-bold text-black">@(Model?.IdPass==null?"FRONT IMAGE UPLOAD": "BACK IMAGE UPLOAD")</h3>*@
            <div class="p-2">
                <i class="fa fa-rotate-left text-light " style="font-size: 24px;position:absolute;top: 35px;left: 45px;cursor: pointer;text-shadow: 0 0 3px #000000;"  onclick="rotateImage();" ></i>
                <img class="m-auto card-img-top1  camera-preview-img" width="100%" src="" alt="">
            </div>

           <div class="text-center mt-2 mb-2"
                                                style="text-align:justify;text-justify:trim;padding-left:10px;padding-right:10px;font-weight:bold;margin-top:0px;color:black">
                                                Final check before uploading:
                                            </div>
                                            @*<hr>*@
                                            <ul class="p-0 ml-2 mr-2 confirm-list" style="list-style-position: inside;">
                                                <li style="text-align:justify;text-justify:trim;">The image is
                                                    clear, legible and high-res</li>
                                                <li style="text-align:justify;text-justify:trim;">There are no extra
                                                    objects on the image</li>
                                                <li style="text-align:justify;text-justify:trim;">The image does not
                                                    reflect any light</li>

                                            </ul>
            <div class="card-body">
                @*<h3 class="card-title">Passport check</h3>*@
                @*<p class="card-text">
                    Start by clicking the link below:
                    </p>*@
                <form enctype="multipart/form-data" asp-controller="home" asp-action="Result" method="post" class="d-none" id="resultForm">
                    <input type="hidden" class="d-none" id="UrlFront" name="UrlFront" value="@(Model.UrlFront!=null?Model.UrlFront:"")">
                     <input type="hidden" value="||skip||" name="X" id="skip"/>
                     <input type="hidden" value="@Model?.ApplicationId" name="ApplicationId" id="ApplicationId"/>
                      @*<input type="hidden" class="d-none" id="IdPass" name="IdPass" value="@(Model?.IdPass)">*@
                    <input type="file" class="d-none" id="File" name="File" accept="image/*" capture="camera">
                    @*<input type="text" id="File" name="File" />*@

                </form>
                <div class="row text-center">
                    
                    @*    <button class="btn bg-site m-auto btn-adn block waves-effect text-light" onclick="SubmitImgFront()">
                        Confirm
                    </button>*@
                    <button type="button" class="col-12 mb-1 n-btn n-btn-gray camera camera-file  retryCamera">
                        RE-TAKE PHOTO
                    </button>
                    <button class="col-12 n-btn n-btn-red" onclick="$('#resultForm').submit()">
                        HAPPY WITH PHOTO
                    </button>
                    @*<button type="button" class="btn m-auto bg-site btn-adn block waves-effect text-light  camera-can " onclick="window.location.reload()"> Retry </button>*@
                </div>
            </div>
        </div>
    </div>
    @*<div class="align-content-center m-auto">
        <a asp-action="Index" asp-controller="Home" class="btn bg-danger-site text-light waves-effect">
        Back to home
        </a>

        </div>*@
    @*<div class="canvascontainer d-none">
        <video id="videoplayer" autoplay muted playsinline class="d-none"></video>
        <div class="position-relative camera-video-div">
        <canvas id="streamCanvas" class="w-100"></canvas>
        <button onclick="CaptureAndProccess()" class="btn btn-danger btn-lg capture-btn rounded">
        Tap to
        capture
        </button>
        </div>
        <form enctype="multipart/form-data" asp-controller="home" asp-action="CanvasResult" method="post" class="d-none" id="CanvasForm">
        <input type="hidden" class="d-none" id="UrlFront" name="UrlFront" value="@(Model.UrlFront!=null?Model.UrlFront:"")" />
        <input type="text" id="File" name="File" />
        </form>
        </div>*@
</div>
<div class="spin d-none text-center" style="display:none">
    <div class="spinner-border text-danger"></div>
</div>

<div class="row d-none error-alert">
    <div class="col-sm-6 m-auto">
        <div class="card bg-danger text-white col-6 m-auto">
            <div class="card-body">
                <h4 class="card-title text-white">Error!</h4>
                <p class="card-text error-message">

                </p>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script src="/script/script.js" asp-append-version="true"></script>
<script>
    //$("#ApplicationId").val(applicationId)
    function skip(){
    $('#skip').attr("name","UrlBack")
    $('#resultForm').submit()
}
</script>
}

