@model OCRFileDTO
@{
    //var data = Model?.Data?.Result?.Data?.MRZ?.Classification;
    var shouldRequestData = Model.Succeed && !Model.IsShowResult;
}
<div class="row">

    <div class="card mb-3 mt-3 col-sm-4 p-0 m-auto">

        <div class="col-12 row">

            @if (!string.IsNullOrEmpty(Model.UrlFront))
            {
                <div class="col-6 m-auto">
                    <img class="card-img-top d-none" src="@Model.UrlFront.Remove(0,Model.UrlFront.IndexOf("Files")-1)" width="50%" alt="">
                </div>
            }



            @if (!string.IsNullOrEmpty(Model.UrlBack))
            {
                <div class="col-6 m-auto">
                    <img class="card-img-top  d-none" src="@Model.UrlBack.Remove(0,Model.UrlBack.IndexOf("Files")-1)" width="50%" alt="">
                </div>
            }

        </div>


        <div class="card-body">
            @*<h4 class="card-title">Passport Data</h4>*@
            @if (Model.Succeed == false)
            {
                <div class="card bg-danger text-white">
                    <div class="card-body">
                        @*<h4 class="card-title text-white">Danger card title</h4>*@
                        <p class="card-text">
                            @Model.Message
                        </p>
                    </div>
                </div>

            }
            <div class="card-data">
                @if (shouldRequestData)
                {
                    <div class="text-center mb-2">
                        <div class="spinner-border text-danger text-center"></div>
                        <p>Proccessing...</p>
                    </div>
                }
            </div>
            @*<p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
                </p>*@
            @*<a class="btn btn-primary w-100" asp-controller="home" asp-action="index"><i data-feather='refresh-ccw'></i> Retry</a>*@
        </div>

    </div>
    <form enctype="multipart/form-data" asp-controller="home" asp-action="GetOCRResult" method="post" class="d-none" id="sendData">
        @*        <input type="hidden" class="d-none" id="UrlFront" name="UrlFront" value="@(Model.UrlFront!=null?Model.UrlFront:"")">
            <input type="hidden" class="d-none" id="UrlBack" name="UrlBack" value="@(Model.UrlBack!=null?Model.UrlBack:"")">*@
        <input type="hidden" class="d-none" id="IdPass" name="IdPass" value="@(Model?.IdPass)">

    </form>
</div>
@section scripts{
<script>
    $("#sendData").submit()
</script>
    @*@if (shouldRequestData)
    {
    <script>
    $.get('@Url.Action("GetOCRResult", "home")',{UrlBack:@Model?.UrlBack,UrlFront:@Model?.UrlFront }, function (res) {
    $('.card-data').html(res);
    })
    </script>
    }*@
}